/* Branding file, contains all application brand files */

/* VERY IMPORTANT TO KNOW! */

/* This file ordered by the same order that the css file loaded in index.html*/

/**TODO: MAKE SURE YOU KEEP THE SAME ORDER WHEN YOU ADD/CHANGE RULES*/

/*************** app.css ************************/

.mwc body,
html.mwc {
  background-color: #edeced;
  /*b2*/
}

/********************
    Colors
*********************/

/* text colors */

.mwc .mwc-t1 {
  color: #117bcf;
}

.mwc .mwc-account-bonus-balance-value {
  color: #117bcf;
}

.mwc .mwc-account-bonus-balance-value {
  color: #117bcf;
}

.mwc .mwc-account-bonus-balance-value {
  color: #117bcf;
}

.mwc .mwc-account-bonus-balance-value {
  color: #117bcf;
}

.mwc .mwc-account-bonus-balance-value {
  color: #117bcf;
}